@import 'variables';

.main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  box-sizing: border-box;
  float: right;
  width: $content-width;
  padding: 0 20px;
  margin-bottom: 20px;

  @media screen and (max-width: $xs-width) {
    float: none;
    width: 100%;
  }

  > h1 {
    color: $primary-color;
    font: bold 32px $font-stack;
    margin: 10px 0 40px 0;
  }

  > article > p {
    text-align: justify;
  }
}
