@charset "UTF-8";
.figure-overlay {
  text-align: center;
  line-height: 0; }
  .figure-overlay figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative; }
    .figure-overlay figure img {
      max-width: 100%;
      max-height: 500px;
      height: auto; }
    .figure-overlay figure figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 41px;
      line-height: 41px;
      font-size: 13px;
      display: none;
      background: #000;
      text-align: center;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .figure-overlay figure:hover img {
      opacity: 0.75; }
    .figure-overlay figure:hover figcaption {
      display: block; }

header {
  overflow: hidden;
  background: #000;
  color: #fff;
  position: relative; }
  header #header-nav-toggle {
    position: absolute;
    background: none;
    margin: 4px;
    padding: 0;
    border: 0;
    width: 32px;
    cursor: pointer; }
    header #header-nav-toggle:focus {
      outline: none; }
    header #header-nav-toggle .icon-bar {
      display: block;
      width: 32px;
      height: 5px;
      background: #fff;
      border-radius: 1px;
      margin-top: 4px; }
    @media screen and (min-width: 640px) {
      header #header-nav-toggle {
        display: none; } }
  header > nav {
    text-align: center;
    overflow: hidden;
    /* To avoid the toggle button to be on top of links */
    padding: 0 40px; }
    header > nav.opened {
      transition: max-height 500ms ease-in;
      max-height: 500px; }
    @media screen and (max-width: 640px) {
      header > nav {
        max-height: 0;
        transition: max-height 500ms ease-out; } }
    header > nav > ul {
      padding: 0;
      margin: 5px 0 0 0; }
      header > nav > ul > li {
        display: inline; }
        header > nav > ul > li > a {
          color: #fff;
          text-transform: uppercase;
          margin: 0 3px; }
  header > h2 {
    text-align: center;
    margin: 26px 0;
    /* To avoid the toggle button to be on top of title */
    padding: 0 40px; }

#left-nav {
  position: fixed;
  top: 105px;
  width: 35%;
  max-width: 350px;
  background: #ECECEC;
  padding: 15px 0; }
  @media screen and (max-width: 640px) {
    #left-nav {
      position: inherit;
      float: none;
      width: 100%;
      max-width: none; } }
  #left-nav ul {
    list-style-type: none;
    padding: 0 40px;
    margin: 0; }
    #left-nav ul li > a {
      color: #a6021f; }
    @media screen and (max-width: 1000px) {
      #left-nav ul {
        padding: 0 20px; } }

.main {
  max-width: 1200px;
  margin: 0 auto; }

section {
  box-sizing: border-box;
  float: right;
  width: 65%;
  padding: 0 20px;
  margin-bottom: 20px; }
  @media screen and (max-width: 640px) {
    section {
      float: none;
      width: 100%; } }
  section > h1 {
    color: #a6021f;
    font: bold 32px Tahoma;
    margin: 10px 0 40px 0; }
  section > article > p {
    text-align: justify; }

footer {
  margin-top: 20px;
  padding: 6px;
  text-align: center;
  background: #ECECEC;
  color: #AAA;
  font-size: 12px;
  clear: both; }
  footer a {
    color: #888; }
  footer .links {
    display: block; }
    @media screen and (min-width: 640px) {
      footer .links {
        display: inline; }
        footer .links::before {
          content: ' \2014   '; } }

body {
  padding: 0;
  margin: 0;
  font: normal 16px Tahoma;
  line-height: 150%; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: underline; }

::-moz-selection {
  background: #a6021f; }

::selection {
  background: #a6021f; }
